<!DOCTYPE html>
<html lang="en-US">

    <head>
      
      <!-- Google tag (gtag.js) -->
{{#if indexHead}}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XZJ2HTW57D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XZJ2HTW57D');
</script>
{{/if}}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    {{#if otherPages}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{pageTitle}} CharpstAR - 3D And WebAR for E-commerce</title>
    <meta name="description" content="Experience the next generation of 3D and WebAR for e-commerce! With CharpstAR’s full stack 3D services, let us help you improve your website’s sales and conversions. From 3D viewing to WebAR to Custom Configurators & Rendering, we do everything 3D"/> 
    <meta name="keywords" content="charpstar,pricing,augmented,reality,ar,webar,quicklook,cheap ar,furniture placement,virtual furniture,ar sweden">  
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

<!-- Google Tag Manager -->
{{#if indexHead}}
<script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-56GXK64');
</script>
<!-- End Google Tag Manager -->

 <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/devices.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/Error.css">
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/config.css">

    

    <link rel="icon" href="https://cdnx.charpstar.net/images/favicon.ico" /> 

    <script type="module" src="https://unpkg.com/@google/model-viewer@1.10.1/dist/model-viewer.min.js"></script>
    <script src="https://cdnx.charpstar.net/js/charpstar-viewer.js"></script>
    <script src="https://cdnx.charpstar.net/Configurator/Contura/ConturaConfigurator/js/qrious.min.js"></script>  
    
<style>
.model-viewer-wrapper {
position: relative;
padding-top: 100%;
margin: 0
}

model-viewer
{
width: 100%;
height: 100%;
position: absolute;
top: 0;
height: calc(100% - 8px)
}
    
    .configViewerWrapper { 
    position: relative;
    padding-top: 75%;
    margin: 0
    
    }
</style>
{{/if}}

<!-- content for other pages expect index page -->
{{#if otherPages}}
    <!-- Fav Icon -->
    <link rel="icon" href="/images/favicon.ico" />

    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css">
      
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdnx.charpstar.net/css/devices.css">
    <link rel="stylesheet" type="text/css" href="/css/Error.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    
    
   
   
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>

    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    
    {{else}}
    <!-- Blog -->
    <link rel="icon" href="/images/favicon.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    {{/if}}

</head>

<body>
    {{#if nav}}
    <section id="header">
    <div id="Faq"  hidden>{{faq}}</div>
        <nav class="navbar navbar-expand-lg myfixedTop" style="box-shadow: none; font-family: Ubuntu-Regular, sans-serif;" id="mainNav">
            <div class="container" style="max-width: 1320px;">
                <a class="navbar-brand" href="/">
                    <!-- <img class="black-logo" src="images/logo.png" alt="#">
                    <img class="white-logo" src="images/logo-white.png" alt="#"> -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="4273.999" height="893.932"
                        viewBox="0 0 4273.999 893.932">
                        <g transform="translate(-16.285 -14.9)">
                            <path
                                d="M16.285,550.485a208.2,208.2,0,0,1,3.874-38.74l49.394-278.93C92.8,101.1,173.182,43.956,330.081,43.956c64.89,0,123,10.653,185.953,28.087L484.073,194.074c-54.236-11.622-122.032-21.307-168.521-21.307-68.764,0-96.85,23.244-108.473,91.039L167.372,488.5a193.248,193.248,0,0,0-2.9,30.024c0,44.551,25.181,61.016,79.417,61.016,46.488,0,109.441-5.812,167.552-18.4l4.842,122.032c-51.33,14.527-123,25.181-194.669,25.181C79.238,708.351,16.285,640.556,16.285,550.485Z" />
                            <path
                                d="M833.706,379.059c.969-5.811,1.938-11.622,1.938-15.5,0-9.685-4.843-13.559-18.4-13.559-25.182,0-85.229,25.181-122.032,44.551L641.943,698.666H505.383l117.189-664.4L762.037,14.9,718.454,264.776c57.142-29.055,121.063-47.457,172.394-47.457,62.953,0,86.2,35.835,86.2,95.882,0,16.464-.969,34.866-4.842,54.236L914.092,698.666H777.533Z" />
                            <path
                                d="M1299.56,698.666l-3.874-40.677c-32.93,25.181-82.323,50.361-150.118,50.361-102.662,0-123-61.984-104.6-167.551l22.276-126.874c19.37-112.347,63.921-195.638,249.874-195.638,49.4,0,114.284,8.717,180.143,29.055l-78.449,451.324H1299.56ZM1175.59,555.327c-3.874,25.182,1.937,34.866,26.149,34.866,34.866,0,72.638-20.339,103.63-46.488L1341.2,339.351c-18.4-3.874-38.74-4.843-53.268-4.843-70.7,0-79.418,34.866-88.134,80.386Z" />
                            <path
                                d="M1852.57,341.287c-60.048,32.93-82.323,45.52-136.56,79.418l-49.394,277.961h-136.56l80.386-460.04,120.095-20.339-2.905,63.921c45.52-27.118,82.323-46.488,123-63.921Z" />
                            <path
                                d="M2048.21,227l3.874,40.677c33.9-28.086,82.322-50.362,150.118-50.362,102.661,0,127.843,61.984,109.441,167.552l-22.276,126.874C2270,624.092,2240.942,708.351,2042.4,708.351c-14.527,0-44.551-1.937-57.142-4.842l-32.929,185.953-139.465,19.37L1932.956,227H2048.21Zm129.78,141.4c4.843-25.181-1.937-36.8-26.149-36.8-48.426,0-83.291,25.181-109.442,48.425l-36.8,210.166c15.5,2.905,33.9,3.874,53.268,3.874,70.7,0,85.229-37.771,93.945-83.291Z" />
                            <path
                                d="M2347.48,677.359l26.149-100.725c35.835,12.591,76.513,24.213,127.843,24.213,45.52,0,48.426-13.559,52.3-35.834,3.874-21.308-9.686-32.93-62.953-61.017-98.788-52.3-102.661-87.165-90.071-157.866,18.4-101.693,48.426-128.812,179.174-128.812,44.551,0,101.693,9.686,140.434,22.276l-22.275,102.662c-34.867-9.685-86.2-17.433-119.127-17.433-40.677,0-46.488,4.842-51.33,30.024-3.875,22.275.968,27.118,46.488,51.331,108.473,58.111,124.937,78.449,111.378,153.024-19.37,106.536-50.362,149.149-191.765,149.149C2450.14,708.351,2389.13,695.761,2347.48,677.359Z" />
                            <path
                                d="M2972.16,336.445l-41.646,235.347c-.969,4.842-1.938,9.685-1.938,12.59,0,6.78,3.874,9.686,13.56,9.686,23.244,0,49.394-9.686,73.606-19.37l27.118,94.913c-38.74,21.308-94.914,38.74-150.119,38.74-68.764,0-105.566-32.929-105.566-89.1a144.554,144.554,0,0,1,1.937-20.339L2835.6,336.445h-69.732L2785.238,227h69.732l19.37-113.315,140.434-19.37-23.244,132.686h112.347L3076.76,336.446h-104.6Z" />
                            <path
                                d="M3569.73,541.769H3300.485l-80.386,156.9H3134.87L3459.319,53.641H3575.54l100.725,645.025h-83.291Zm-236.32-69.733h225.662l-49.4-362.222Z" />
                            <path
                                d="M4059.78,464.288H3898.039l-41.646,234.378h-81.354L3889.323,53.641h230.5c121.063,0,170.457,48.425,170.457,126.875a211.9,211.9,0,0,1-2.9,34.866l-16.465,92.977c-13.56,77.48-39.709,122.031-127.843,145.275l125.906,245.032h-89.1Zm146.25-248.906a152.579,152.579,0,0,0,2.9-27.118c0-46.488-29.056-61.984-94.913-61.984h-156.9l-46.488,266.339h156.9c79.417,0,111.378-23.244,123-90.071Z" />
                        </g>
                    </svg>
                </a>
                <button class="mobile-menu-toggler" style="font-size:30px;cursor:pointer;" onclick="openNav()">

                    <svg id="Layer_1" height="384pt" viewBox="0 -53 384 384" width="384pt"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="m368 154.667969h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
                        <path
                            d="m368 32h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
                        <path
                            d="m368 277.332031h-352c-8.832031 0-16-7.167969-16-16s7.167969-16 16-16h352c8.832031 0 16 7.167969 16 16s-7.167969 16-16 16zm0 0" />
                    </svg>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item {{#if active1}}active{{/if}}">
                            <a class="nav-link" href="/">Solution</a>
                        </li>
                        <li class="nav-item {{#if active2}}active{{/if}}">
                            <a class="nav-link" href="/pricing">
                                Pricing
                            </a>
                        </li>
                        <li class="nav-item {{#if active3}}active{{/if}}">
                            <a class="nav-link" href="/business-cases">Business Cases</a>
                        </li>
                        <li class="nav-item {{#if active4}}active{{/if}}">
                            <a class="nav-link" href="/contact-us">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/client-area/login">{{name}}</a>
                        </li>
                        {{#if logout}}
                        <li class="nav-item btn-on-nav">
                            <a class="nav-link" href="/user/LogOut">LOG OUT</a>
                        </li>
                        {{else}}
                        <li class="nav-item btn-on-nav">
                            <a class="nav-link" href="/contact-us">Book a demo</a>
                        </li>
                        {{/if}}
                        
                    </ul>
                </div>
            </div>
        </nav>

        <div id="myNav" class="mobile-menu">
            <div class="mobile-menu-header">
                <a href="/" class="mobile-menu-logo navbar-brand">
                    <svg xmlns="http://www.w3.org/2000/svg" width="4273.999" height="893.932"
                        viewBox="0 0 4273.999 893.932">
                        <g transform="translate(-16.285 -14.9)">
                            <path
                                d="M16.285,550.485a208.2,208.2,0,0,1,3.874-38.74l49.394-278.93C92.8,101.1,173.182,43.956,330.081,43.956c64.89,0,123,10.653,185.953,28.087L484.073,194.074c-54.236-11.622-122.032-21.307-168.521-21.307-68.764,0-96.85,23.244-108.473,91.039L167.372,488.5a193.248,193.248,0,0,0-2.9,30.024c0,44.551,25.181,61.016,79.417,61.016,46.488,0,109.441-5.812,167.552-18.4l4.842,122.032c-51.33,14.527-123,25.181-194.669,25.181C79.238,708.351,16.285,640.556,16.285,550.485Z" />
                            <path
                                d="M833.706,379.059c.969-5.811,1.938-11.622,1.938-15.5,0-9.685-4.843-13.559-18.4-13.559-25.182,0-85.229,25.181-122.032,44.551L641.943,698.666H505.383l117.189-664.4L762.037,14.9,718.454,264.776c57.142-29.055,121.063-47.457,172.394-47.457,62.953,0,86.2,35.835,86.2,95.882,0,16.464-.969,34.866-4.842,54.236L914.092,698.666H777.533Z" />
                            <path
                                d="M1299.56,698.666l-3.874-40.677c-32.93,25.181-82.323,50.361-150.118,50.361-102.662,0-123-61.984-104.6-167.551l22.276-126.874c19.37-112.347,63.921-195.638,249.874-195.638,49.4,0,114.284,8.717,180.143,29.055l-78.449,451.324H1299.56ZM1175.59,555.327c-3.874,25.182,1.937,34.866,26.149,34.866,34.866,0,72.638-20.339,103.63-46.488L1341.2,339.351c-18.4-3.874-38.74-4.843-53.268-4.843-70.7,0-79.418,34.866-88.134,80.386Z" />
                            <path
                                d="M1852.57,341.287c-60.048,32.93-82.323,45.52-136.56,79.418l-49.394,277.961h-136.56l80.386-460.04,120.095-20.339-2.905,63.921c45.52-27.118,82.323-46.488,123-63.921Z" />
                            <path
                                d="M2048.21,227l3.874,40.677c33.9-28.086,82.322-50.362,150.118-50.362,102.661,0,127.843,61.984,109.441,167.552l-22.276,126.874C2270,624.092,2240.942,708.351,2042.4,708.351c-14.527,0-44.551-1.937-57.142-4.842l-32.929,185.953-139.465,19.37L1932.956,227H2048.21Zm129.78,141.4c4.843-25.181-1.937-36.8-26.149-36.8-48.426,0-83.291,25.181-109.442,48.425l-36.8,210.166c15.5,2.905,33.9,3.874,53.268,3.874,70.7,0,85.229-37.771,93.945-83.291Z" />
                            <path
                                d="M2347.48,677.359l26.149-100.725c35.835,12.591,76.513,24.213,127.843,24.213,45.52,0,48.426-13.559,52.3-35.834,3.874-21.308-9.686-32.93-62.953-61.017-98.788-52.3-102.661-87.165-90.071-157.866,18.4-101.693,48.426-128.812,179.174-128.812,44.551,0,101.693,9.686,140.434,22.276l-22.275,102.662c-34.867-9.685-86.2-17.433-119.127-17.433-40.677,0-46.488,4.842-51.33,30.024-3.875,22.275.968,27.118,46.488,51.331,108.473,58.111,124.937,78.449,111.378,153.024-19.37,106.536-50.362,149.149-191.765,149.149C2450.14,708.351,2389.13,695.761,2347.48,677.359Z" />
                            <path
                                d="M2972.16,336.445l-41.646,235.347c-.969,4.842-1.938,9.685-1.938,12.59,0,6.78,3.874,9.686,13.56,9.686,23.244,0,49.394-9.686,73.606-19.37l27.118,94.913c-38.74,21.308-94.914,38.74-150.119,38.74-68.764,0-105.566-32.929-105.566-89.1a144.554,144.554,0,0,1,1.937-20.339L2835.6,336.445h-69.732L2785.238,227h69.732l19.37-113.315,140.434-19.37-23.244,132.686h112.347L3076.76,336.446h-104.6Z" />
                            <path
                                d="M3569.73,541.769H3300.485l-80.386,156.9H3134.87L3459.319,53.641H3575.54l100.725,645.025h-83.291Zm-236.32-69.733h225.662l-49.4-362.222Z" />
                            <path
                                d="M4059.78,464.288H3898.039l-41.646,234.378h-81.354L3889.323,53.641h230.5c121.063,0,170.457,48.425,170.457,126.875a211.9,211.9,0,0,1-2.9,34.866l-16.465,92.977c-13.56,77.48-39.709,122.031-127.843,145.275l125.906,245.032h-89.1Zm146.25-248.906a152.579,152.579,0,0,0,2.9-27.118c0-46.488-29.056-61.984-94.913-61.984h-156.9l-46.488,266.339h156.9c79.417,0,111.378-23.244,123-90.071Z" />
                        </g>
                    </svg>
                </a>
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            </div>

            <div class="mobile-menu-content">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item {{#if active1}}active{{/if}}">
                        <a href="/" class="nav-link closebtn" onclick="closeNav()">Solution</a>
                    </li>
                    <li class="nav-item {{#if active2}}active{{/if}}">
                        <a class="nav-link closebtn" href="/pricing" onclick="closeNav()">
                            Pricing
                        </a>
                    </li>
                    <li class="nav-item {{#if active3}}active{{/if}}">
                        <a href="/business-cases" class="nav-link closebtn" href="/business-cases"
                            onclick="closeNav()">Business Cases</a>
                    </li>
                    <li class="nav-item {{#if active4}}active{{/if}}">
                        <a href="/contact-us" class="nav-link closebtn" href="/contact-us"
                            onclick="closeNav()">Contact Us</a>
                    </li>
                     <li class="nav-item">
                            <a class="nav-link" style="font-weight: 300;" href="/client-area/login">{{name}}</a>
                        </li>
                        {{#if logout}}
                    <li class="nav-item btn-on-nav">
                        <a href="/user/LogOut" class="nav-link closebtn" ref="contact_us.html"
                            onclick="closeNav()">LOG OUT</a>
                    </li>
                    {{else}}
                    <li class="nav-item btn-on-nav">
                        <a href="/contact-us" class="nav-link closebtn" ref="contact_us.html"
                            onclick="closeNav()">Book a demo</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </section>

    {{/if}}

    {{{body}}}

    {{#if foo}}
     <section id="footer">
        <div class="container">
            <div class="row footer-menu-row">
                <div class="col-12 col-md-12 col-lg-3">
                    <div class="footer-logo">
                        <img src="/images/logo-white.png" alt="#">
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/">Solution</a></li>
                            <li><a href="/business-cases">Business Cases</a></li>
                            <li><a href="/contact-us">Book a Demo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="/contact-us">Contact Us</a></li>
                            <li><a href="/pricing">Pricing</a></li>
                            <li><a href="/pricingFaq">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-md-3 col-lg-3">
                    <div class="footer-menu">
                        <div class="footer-bottom-left">
                            <ul>
                                <li><a href="/termsCondition">Terms and Conditions</a></li>
                                <li><a href="/policy">Privacy Policy</a></li>
                            </ul>
                        </div>
                        <div class="footer-bottom-right">
                            <p>© 2022 CharpstAR AB</p>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    {{/if}} 
  </body>
</html>
